__pycache__/
*.pyc
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
.venv/
.vscode/
.venv-speedtest/
.pytest_cache/
.torchinductor*/
*.log
*.out
*.synctex.gz
*.toc
runs/
wandb/
logs/
data_cache/
.DS_Store

5090_results/